
<button *ngIf="userIsOwner && apartment.is_active" (click)="deactivate()">Deactivate</button>
<button *ngIf="userIsOwner && !apartment.is_active" (click)="activate()">Activate</button>

  <h1>${{ apartment.rent }}</h1>

  <div>{{ apartment.address }}</div>
  <div>{{ apartment.city }},{{ apartment.state }} {{ apartment.zip_code}}</div> 
  <br>
  <ul>
    <li><b>number of bathrooms:</b> {{ apartment.number_of_bathrooms }}</li>
    <li><b>number of bedrooms: </b> {{ apartment.number_of_bedrooms }}</li>
    <li><b>square footage: </b> {{ apartment.square_footage }}</li>
  </ul>
  
  

