<h1>My Apartments!</h1>

  <b>Active Apartments</b>
 
    <div *ngFor="let apartment of apartments">
    <a (click)="selectApartment(apartment)" *ngIf="apartment.is_active">{{ apartment.address }}</a>
    </div>
<br>
  <b>Inactive Apartments</b>

      <div *ngFor="let apartment of apartments">
      <a (click)="selectApartment(apartment)" *ngIf="!apartment.is_active">{{ apartment.address }}</a>
      </div>

  <button *ngIf="selectedApartment" (click)="hideDetails()">Hide details</button>

  <app-apartment-detail *ngIf="selectedApartment" [apartment]="selectedApartment"></app-apartment-detail>


